package index

import (
  "github.com/joshbrgs/my-portfolio/internal/template/layouts/base"
)

templ Index() {
  @layouts.Base("Porthomelio")
  <h1>Hi, I'm Josh</h1>
  <div id="bottom-div" class="bg-slate h-screen w-full relative overflow-hidden">

    <!-- Circles representing bubbles -->

    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>

    <!-- Add more bubble divs as needed -->

  </div>
  } 
